.footer{
    width: 100%;
    background-color: rgb(100, 100, 100);
    box-sizing: border-box;
    padding: 20px;
    .presentation-restaurant{
        width: 90%;
        margin: auto;
        padding: 20px 0;
        border-bottom: 1px solid black;
        .image{
            width: 35%;
            margin: auto;
            img{
                width: 100%;
                border-radius: 100%;
            }
        }
        .text{
            font-size: 16px;
            text-align: center;
            color: white;
            line-height: 1.5;
        }
    }
    .first-address, .second-address{
        padding: 20px 0;
        border-bottom: 1px solid black;
        width: 90%;
        margin: auto;
        .name{
            color: white;
            font-size: 20px;
            margin: 0;
            h3{
                margin: 0;
            }
        }
        .line{
            display: flex;
            justify-content: center;
            .color-line{
                width: 7vw;
                height: 1vh;
                background-color: #d3ab55;
                margin: 10px;
            }
        }
        .adress{
            color: white;
            margin: 0;
        }
    }
}

@media screen and (min-width: 1100px) {
    .footer{
        display: flex;
        padding: 20px 40px;
        align-items: center;
        justify-content: center;
        .presentation-restaurant, .first-address, .second-address{
            width: 30%;
            margin: 0;
            align-self: stretch;
            padding: 20px;
            box-sizing: border-box;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .adress{
                width: 55%;
                margin: 0 auto;
            }
        }
    }
}