nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding: 10px 20px;
    height: 70px;
    border-bottom: 1px solid #f3f3f3;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    top: 0;
    .logo{
        width: 50px;
        height: 50px;
        img{
            width: 100%;
            border-radius: 100%;
        }
    }
    .open-menu-btn{
        font-size: 20px;
        color: white;
    }
    .navigation{
        position: fixed;
        top: 70px;
        bottom: 0;
        background: #d3ab55;
        width: 100%;
        transition: left .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &.hide{
            left: 100%;
        }
        &.show{
            left: 0;
        }
        a{
            color: white;
            font-size: 24px;
            line-height: 30px;
            text-decoration: none;
            padding: 20px 0;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: bold;
        }
    }
}

@media screen and (min-width: 1100px){
    nav{
        padding: 10px 30px;
        .open-menu-btn{
            display: none;
        }
        .navigation{
            flex-direction: initial;
            position: unset;
            background: transparent;
            left: unset;
            top: unset;
            width: auto;
            a{
                margin-right: 30px;
                font-size: 20px;
                &:hover{
                    color: #d3ab55;
                }
            }
        }
    }
}